@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,700italic,400italic,400);
@import url(http://fonts.googleapis.com/css?family=Merriweather:700,700italic,400italic,400);
@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);

h1, h2, h3, h4, h5, h6, p, body, a, img, ul, ol, blockquote, pre {
  margin: 0; padding: 0; border: 0;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Sans;
  font-size: 16px;
  line-height: 1.52;
  background-color: #f8f8f8;
  text-rendering: optimizeLegibility;
}

.content-wrap {
  width: 48em;
  margin: 100px auto;
}

body, a {
  color: #171717;
}

a:hover {
  color: #ff8000;
  text-decoration: underline;
}

p {
  margin-bottom: 1.52em;
}

pre {
  font-size: 0.9em;
  overflow: auto;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 0.25em;
  margin-bottom: 1.8em;
  padding: 1em;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.23);
}

h1 {
  font-family: 'Merriweather', sans-serif;
  font-size: 2em;
  margin-bottom: 1em;
}

h2 {
  font-family: 'Merriweather', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.43;
  margin-bottom: 1.35em;
}

h3 {
  font-family: 'Merriweather', sans-serif;
  font-style: italic;
  text-align: center;
  font-weight: 400;
  font-size: 1.4em;
  margin-top: 1.8em;
  margin-bottom: 0.8em;
}

ol, ul {
  margin: 0 1.4em 1.4em 4em;
}

li {
  margin-bottom: 0.5em;
}

blockquote {
  margin: 1.2em 3em;
  padding-left: 1em;
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px dashed #d2d2d2;
  height: 0;
  margin: 1.6em 0;
}

/* page header */

.header {
  margin: 3em 0 5em;
}

.header h1 {
  font-size: 2.6em;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.header a, .header a:hover {
  text-decoration: none;
  color: #171717;
}

.header .author {
  font-family: 'Patrick Hand SC', cursive;
  /*font-variant: small-caps;
  text-transform: lowercase;*/
  text-rendering: auto;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
}

.header .description {
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  margin-top: -0.3em;
}

body.article-detail > header h1 {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 400;
  margin-bottom: -0.2em;
}

body.article-detail > header {
  margin-bottom: 3em;
}

/* page footer */

footer {
  margin: 3em 0;
}

footer .nav {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3.5em;
}

footer .nav a {
  padding: 0 0.5em;
  font-size: 1.2em;
  text-decoration: none;
}

footer .about {
  border-top: 1px dashed #d2d2d2;
  padding: 2.2em 3em;
  font-size: 0.7em;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
}

footer .copy {
  text-align: center;
  font-size: 0.7em;
  font-style: italic;
  margin-top: 1em;
}

footer .copy, footer .copy a {
  color: #8e8e8e;
}

/* article */

.article {
  margin: 3em 0 4em;
}

.article header {
  border-top: 1px dashed #d2d2d2;
}

.article header h2 {
  font-style: italic;
  text-align: center;
  font-weight: 400;
  margin: 0.8em 0;
  font-size: 1.4em;
}

.article header h2 a {
  text-decoration: none;
}

.article header .date {
  text-align: center;
  font-size: 0.9em;
  margin-top: -0.7em;
}

.article header .date span {
  background-color: #f8f8f8;
  padding: 0 0.7em;
}

.article.intro .content p {
  display: inline;
}

.article.intro .content .more {
  text-decoration: underline;
  /*font-weight: 700;*/
  padding-left: 0.3em;
}

.article .content img {
  display: block;
  width: 100%;
}

.more, .date {
  font-family: 'Patrick Hand SC', cursive;
  /*font-variant: small-caps;
  text-transform: lowercase;*/
  font-weight: 400;
  text-rendering: auto;
  letter-spacing: 1px;
}


/* archive */

.archive {
  width: 32em;
  margin: 5em auto 6em;
  padding-left: 2em;
}

.archive h2 {
  font-size: 2em;
  margin: 0;
  margin-left: 6.1em;
  margin-bottom: 0.5em;
  font-style: italic;
}

.archive a, .archive span{
  display: block;
  float: left;
  margin-bottom: -1px;
  text-decoration: none;
}
.archive li:not(:last-child) {
	border-bottom: 1px solid #d2d2d2;
	margin-bottom: -1px;
}

.archive a.last, .archive span.last {
  border: 0;
  margin-bottom: 0;
}

.archive a {
  width: 21em;
  text-indent: 1em;
  white-space: nowrap;
}

.archive .year-label,
.archive .month-label{
  width: 4em;
  font-family: 'Patrick Hand SC', cursive;
  /*font-variant: small-caps;
  text-transform: lowercase;*/
  font-weight: 400;
  text-rendering: auto;
  letter-spacing: 1px;
  text-align: center;
}

.archive .month-label {
  width: 7em;
}

.archive ul {
  list-style: none;
  margin: 0;
}

.archive ul li {
  margin: 0;
}

/* code styling */

code {
  font-family: 'Source Code Pro-Light', 'Consolas', 'Menlo', monospace;
  font-size: 0.90;
  color: #155;
}

pre code {
  display: block;
  line-height: 1.1;
}

p code {
  padding: 0.1em 0.3em 0.2em;
  border-radius: 0.3em;
  position: relative;
  background: #ffffff;
  border: 1px solid #dedede;
  white-space: nowrap;
}

/* syntax hl stuff */

code.lang-markdown {
  color: #424242;
}

code.lang-markdown .header,
code.lang-markdown .strong {
  font-weight: bold;
}

code.lang-markdown .emphasis {
  font-style: italic;
}

code.lang-markdown .horizontal_rule,
code.lang-markdown .link_label,
code.lang-markdown .code,
code.lang-markdown .header,
code.lang-markdown .link_url {
  color: #555;
}

code.lang-markdown .blockquote,
code.lang-markdown .bullet {
  color: #bbb;
}

/* media queries */

@media (min-width: 1600px) {
  body { font-size: 21px; }
}

@media (max-width: 900px) {
  body { font-size: 16x; }
}

@media (max-width: 690px) {
  .content-wrap {
    width: auto;
    padding: 0 1em;
  }
  .header {
    margin: 1em 0;
  }
  .header h1 {
    font-size: 1.4em;
    margin-bottom: 0.6em;
  }
  .header .description {
    font-size: 1em;
  }
  .article {
    margin: 1em 0 2.5em;
  }
  .archive {
    width: 80%;
    margin: 0 auto;
  }
  .archive * {
    float: none !important;
    line-height: 1.6 !important;
    width: auto !important;
    height: auto !important;
    text-align: left !important;
    border: 0 !important;
    margin: 0 !important;
  }
  footer .nav {
    margin: 1em 0;
  }
  footer .about {
    padding: 0;
    font-size: 0.9em;
    padding-top: 1.6em;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    column-count: 1;
  }
  footer .about p {
    margin-bottom: 1em;
  }
}



/* CoffeeScript fadeout*/
#fadeout {
  z-index: 50;
  position: fixed;
  left: 0; top: 0; right: 0;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 255), rgba(255, 255, 255, 0));
}

/* CSS only CoffeeScript navbar
  see http://aamirafridi.com/css/pure-css-responsive-menu */

/* Reset*/
nav > * {
  margin: 0;
  paddding: 0;
}

nav {
  position: fixed;
  display: block;
  z-index: 100;
  height: 50px;
  min-height: 50px;
  min-width: 490px;
  left: 40px;
  right: 40px;
  top: 25px;
  background: #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#dadada));
  background: -moz-linear-gradient(top, #f8f8f8, #dadada);
  border: 1px solid #aaa;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #888;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

  font-variant: small-caps;
  text-transform: lowercase;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans;
  font-weight: 400;
  font-size: 1.4em;
}

nav a {
  padding: 0 20px;
  display: block;
}

nav a:hover, nav a:visited, nav a:link, nav a:active {
  text-decoration: none;
  color: black;
}

nav ul {
  margin: 0;
  line-height: 50px;
  cursor: pointer;
  background: #fff;
}

nav ul li {
  float: left;
  display: inline;
  position: relative;
  width: 180px;
}

nav ul li:hover {
  color: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#fff));
  background: -moz-linear-gradient(top, #e5e5e5, #fff);
}

nav ul li:not(:first-child) {
  border-left: 1px solid #aaa;
}

nav ul li:last-child {
  border-right: 1px solid #aaa;
}

nav ul ul {
  /*Hide all submenus*/
  display: none;
  background: #fff;
  opacity: 0.97;
  top: 100%;
  left: -1px;
  border: 1px solid #aaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

nav ul ul ul {
  border: 0;
  box-shadow: 0 0 0;
  border: 1px solid #aaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-left: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  box-shadow: 10 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10 3px 5px rgba(0, 0, 0, 0.2);
}

nav ul ul li {
  border-left: 0 !important;
  border-right: 0 !important;
}

nav ul ul a {
  height: 2em;
  line-height: 2em;
  border: 1px solid transparent;
  border-left: 0;
  border-right: 0;
}

nav ul ul li:hover {
  border-color: #ddd;
  background: #eee;
}
/* Display menus lvl 1*/

nav li:hover > ul {
  display: block;
  position: absolute;
  z-index: 1000;
  width: 180px;
}
/* Display menus lvl 2*/

nav ul ul li:hover > ul {
  top: -1px;
  right: -181px;
  left: auto;
}
/* Navbar Logo */

nav ul li#logo {
  width: 100px;
  height: 50px;
}

nav ul li#logo img {
  height: 50px;
  outline: none;
}

.header div .logo {
  display: block;
  outline: none;
}

.header div .logo h1{
  font-family: 'Fredericka the Great', cursive;
  font-size: 6em;
  font-weight: 400;
}

.share li {
  display: inline;
}

.share li.share-facebook {
  top: -3px;
}
